.cc{
  height: 90px;
  width: 50px;
  display: flex;
  gap: 50px;
  text-align: center;
  background-color: cornflowerblue;
  
}
.aa{
  height: 110px;
  width: 100px;
  display: flex;
  gap: 70px;
  color: white;
}
img{
  height: 100px;
  width: 100px;
}
.nn{
  display: flex;
  gap: 30px;
  position: absolute;
  left: 700px;
  color: white;
  position: fixed;
  top: 4px;

  
}
.back{
  background-color: rgb(7, 42, 56);
  border: 8px solid white;
}
.color{
color: white;
}
.button{
  background-color: darkgreen;
}
.button2{
  background-color: dodgerblue;
}
.button1{
  background-color:gainsboro;
  border: 4px dotted black;
}
.border{
  border: 4px dotted white;
}
.button3{
  border: 4px dotted black;
}
.button4{
  border: 4px dotted black;
}
.border2{
  border: 4px dotted white;
}
.border3{
  border: 4px dotted white;
}
html{
  scroll-behavior: smooth;
}
